body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  font-size: 10px
}

input {
  width: 100px;
}

.component-wrapper {
  background-color: #eee;
  width: 400px;
  border: solid 1px #ebebeb;
  padding: 10px 20px 20px;
}

.component {
  background-color: #ff8338;
  border: solid 1px #ff8338;
  margin: 30px 0 10px;
  padding: 10px 20px 20px;
}

.component .values {
  margin-top: 10px;
  font-weight: 600;
}

.code {
  font-family: monospace;
}
